html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: 1.17333rem;
  display: flex;
  justify-content: space-between;
}

header span {
  width: 30%;
  height: 1.17333rem;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.46667rem;
}

header span:nth-of-type(2) {
  font-size: 0.37333rem;
}

header div {
  width: 30%;
  height: 1.17333rem;
  line-height: 1.17333rem;
}

header div i {
  display: inline-block;
  font-size: 0.73333rem !important;
  color: #6F6F6F;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.46667rem;
  box-sizing: border-box;
}

footer .all-checked {
  text-align: center;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

footer .all-checked span {
  color: #fff;
  width: 0.53333rem;
  height: 0.53333rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}

footer .all-title {
  height: 1.46667rem;
  line-height: 1.6rem;
}

footer .all-title span {
  font-size: 0.4rem;
  font-weight: 500;
}

footer .all-price {
  height: 1.46667rem;
  line-height: 1.46667rem;
  width: 5.33333rem;
}

footer .all-price span {
  font-size: 0.37333rem;
  font-weight: 600;
}

footer .all-price span:nth-of-type(1) {
  margin-left: 1.73333rem;
}

footer .all-price span:nth-of-type(2) {
  color: #F04146;
}

footer .all-price span:nth-of-type(3) {
  color: #F04146;
}

footer .all-order {
  width: 30%;
  height: 1.46667rem;
  background-color: #F04146;
  text-align: center;
  line-height: 1.46667rem;
  font-size: 0.46667rem;
  color: #fff;
}

section {
  flex: 1;
  overflow: auto;
}

.content {
  overflow: auto;
  background-color: #F6F6F6;
  height: 1000px;
}

.content .commodity {
  height: 4.85333rem;
  background-color: #fff;
  margin-top: 0.2rem;
  padding: 0.26667rem 0.26667rem 0.26667rem 0.32rem;
}

.content .commodity .names {
  height: 1.46667rem;
  display: flex;
  justify-content: space-between;
}

.content .commodity .names span {
  font-size: 0.33333rem;
}

.content .commodity .names span:nth-of-type(1) {
  width: 0.8rem;
  height: 0.42667rem;
  background-color: #F04146;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

.content .commodity .names span:nth-of-type(2) {
  width: 6.6rem;
}

.content .commodity .names span:nth-of-type(3) {
  width: 1.73333rem;
  color: #F04146;
}

.content .commodity .article {
  height: 3.4rem;
  display: flex;
}

.content .commodity .article .article-one {
  width: 3.68rem;
  height: 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .commodity .article .article-one .article-check {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.content .commodity .article .article-one .article-check span {
  width: 0.4rem;
  height: 0.4rem;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.content .commodity .article .article-one .image {
  margin-top: 0.4rem;
  margin-right: 0.26667rem;
}

.content .commodity .article .article-one .image img {
  height: 2.66667rem;
}

.content .commodity .article .article-two {
  width: 5.74667rem;
  height: 3.4rem;
}

.content .commodity .article .article-two .article-title {
  height: 2.34667rem;
}

.content .commodity .article .article-two .article-title p {
  color: #999999;
}

.content .commodity .article .article-two .article-price {
  height: 1.05333rem;
  display: flex;
  justify-content: space-between;
}

.content .commodity .article .article-two .article-price > span {
  line-height: 1.05333rem;
  color: #F04146;
}

.content .commodity .article .article-two .article-price .num {
  margin-top: 0.26667rem;
  border: solid 1px #ccc;
  height: 0.45333rem;
}

.content .commodity .article .article-two .article-price .num input {
  width: 1.2rem;
  height: 0.45333rem;
  text-align: center;
  outline: none;
  border: none;
  background-color: #F6F6F6;
}

.content .commodity .article .article-two .article-price .num span {
  display: inline-block;
  width: 0.45333rem;
  height: 0.45333rem;
  text-align: center;
}

.active {
  background-color: #F04146;
}
